main.flex {
    flex-direction: column;
    gap: 3rem;
    align-items: center;

}

/* Start left Section */
main.flex section.left-section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

main.flex section.left-section button {
    all: unset;
    background-color: rgba(36, 37, 46, 1);
    width: 11rem;
    padding: .75rem 0;
    text-align: center;
    justify-content: center;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    border: 1px solid var(--border);
    font-size: 1rem;
    text-transform: capitalize;
    opacity: .5;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    flex-wrap: wrap;
    cursor: pointer;
}

.light main.flex section.left-section button {
    background-color: #000;
}

main.flex section.left-section button.active {
    opacity: 1;
    font-weight: bold;
    letter-spacing: 1.2px;
    padding: .8rem 0;
    border: 1px solid var(--blue);
}
.light main.flex section.left-section button.active {
    opacity: 1;
    font-weight: bold;
    letter-spacing: 1.2px;
    padding: .8rem 0;
    border: 1px solid #faa331;
}

main.flex section.left-section button:hover {
    opacity: 1;
}

/* End left Section */
/* Start Right Section */
main.flex section.right-section.flex {
    /* flex-grow: 1; */
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

main.flex section.right-section .card {
    border: 1px solid rgb(0 152 255 / 30%);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(#ffffff0d , #ffffff0d);
}

.light main.flex section.right-section .card {
    border: 1px solid rgba(255, 174, 0, 0.411);
}


main.flex section.right-section .card:hover {
    border: 1px solid var(--blue);
    transform: translateY(-10px);
    scale: 1.01;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

main.flex section.right-section .card img {
    max-width: 280px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

main.flex section.right-section .card img,
main.flex section.right-section .card .box {
    max-width: 280px;
}

main.flex section.right-section .card .box {
    padding: 1rem 0.6rem;
    transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
    -webkit-transition:all .5s;
}

main.flex section.right-section .card .box .title {
    color: var(--title);
    font-size: 30px;
}

main.flex section.right-section .card .box .sub-title {
    color: var(--subtitle);
    font-size: 0.9rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    height: 85px !important;
    
}

main.flex section.right-section .card .box .icons {
    padding-top: 10px;
    border-top: 1px solid rgb(0 152 255 / 30%);
    justify-content: space-between;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.light main.flex section.right-section .card .box .icons {
    border-top: 1px solid rgba(255, 174, 0, 0.411);
}
main.flex section.right-section .card:hover .box .icons {
    border-top: 1px solid var(--blue);
}

main.flex section.right-section .card .box h1 {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
main.flex section.right-section .card:hover .box h1 {
    color: var(--blue);
}

main.flex section.right-section .card .box .icons div .icon-link,
main.flex section.right-section .card .box .icons div .icon-github {
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--subtitle);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

main.flex section.right-section .card .box .icons div .icon-link:hover,
main.flex section.right-section .card .box .icons div .icon-github:hover {
    color: var(--blue);
}


main.flex section.right-section .card .box .icons .link {
    color: var(--blue);
    font-size: .9rem;
    margin-right: 10px;
}

/* End Right Section */
/* Start Media */
@media (min-width: 1500px) {
    main.flex section.right-section.flex {
        max-width: 90% ;
    }
}
@media (max-width: 1050px) {
    main.flex section.left-section button {
    width: 7rem;
    font-size: .9rem;
    padding: .7rem 0;
}

main.flex section.left-section button:active {
    letter-spacing: 1.1px;
    padding: .75rem 0;
}
main.flex section.left-section {
    gap: 1.2rem;
}
}
@media (max-width: 800px) {
    main.flex{
        flex-direction: column;
        align-items: center;
    }
    main.flex section.left-section {
        /* flex-direction: row; */
        flex-wrap: wrap;
        justify-content: center;
    }


}
/* End Media */